body {
  background-color: white;
}

.agggtm {
  width: 25%;
  float: left;
  height: 25%;
  background-color: darkred;
  z-index: 1010101010;
  color: floralwhite;
  padding: 0-5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

}
.index {margin: 0 -5px;
  position: fixed;
}

p{
  text-align: center;
  font-size: 24px;
}

ul {
  font-family: monospace;
  font-size: 24px;
}

h1 {
  font-size: 84px;
  text-align: center;
  font-family;
}

h2 {
  font-size: 54px;
  color: darkred;
  text-align: center;
}

h4 {
  font-size: 40px;
  color: darkred;
}
h5 {
  text-align: center;
  font-size: 32px;
  font-family: Copperplate, Papyrus, fantasy;
  background-color: indianred;
}

h6 {
  text-align: right;
  font-size: 18px;
  font-style: italic;
  color: gray;
  font-family: 'Cedarville Cursive';
}

img {
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    border-radius:30px;
}

hr {
  border-top: 1px solid darkred;
  line-height: inherit;
}

________________
* {
  box-sizing: border-box;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}


/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  height: 25%;
  padding: 0-5px;
}

.row {margin: 0 -5px;
  margin-right: auto;
  margin-left:auto;
}


/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 95%;
    display: block;
    margin-bottom: 10px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #444;
  color: white;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}


/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
  }
}